.projects {
    height: 1530px;
    background-color: #141d2f;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1100px) {
        height: 1750px;
    }
    @media (max-width: 370px) {
        height: 1510px;
    }
}

.projectsContent {
    z-index: 1;
    max-width: 1100px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projectsBorderTitleContent {
    position: absolute;
    bottom: -1600px;
    left: 0;
    display: flex;
    align-items: center;
    @media (max-width: 1100px) {
        bottom: -1890px;
        width: 280px;
    }
    @media (max-width: 370px) {
        bottom: -1980px;
    }
}

.projectsBorderTitleTextPosition {
    margin-left: 50px;
    @media (max-width: 1100px) {
        margin-left: 25px;
    }
}

.projectsBorderTitleBorderContainer {
    width: 100px;
    height: 0px;
    border: 2px solid #ff4747;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    @media (max-width: 1100px) {
        width: 40px;
        margin-bottom: 110px;
    }
}

.projectsBorderTitleTitle {
    font-size: 90px;
    font-weight: 700;
    line-height: 120%;
    cursor: default;
    @media (max-width: 1100px) {
        font-size: 45px;
        margin-bottom: 50px;
    }
}

.projectsBorderTitleText {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    cursor: default;
}

.projectsContentprojects {
    margin-top: 300px;
    height: 100%;
    @media (max-width: 1100px) {
        margin-top: 235px;
    }
}

.projectsContentprojectsRow1 {
    display: flex;
    @media (max-width: 1100px) {
        flex-direction: column;
    }
}

.projectsContentprojectsRow2 {
    display: flex;
    @media (max-width: 1100px) {
        flex-direction: column;
    }
}

.projectsContentprojectsContainer {
    margin: 15px;
    width: 520px;
    height: 520px;
    border-radius: 5px;
    border: 1px solid #e86f00;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 1100px) {
        width: 340px;
        height: 340px;
    }
    @media (max-width: 365px) {
        width: 275px;
        height: 280px;
    }
}

.projectsContentprojectsContainerOuttaImgHover {
    z-index: 1;
    position: absolute;
    width: 520px;
    height: 520px;
    object-fit: cover;
    border-radius: 5px;
    transition: 225ms ease-in-out;
    &:hover {
        opacity: 0;
        transform: scale(1.1);
        transition: 225ms ease-in-out;
    }
}

.imgbg1 {
    background-image: url("../../assets/img/screeninnerpokemon.jpg");
    background-size: cover;
    background-size: 100% 46%;
    background-position: top;
}

.imgbg2 {
    background-image: url("../../assets/img/screeninnerelpolloloco.jpg");
    background-size: cover;
    background-size: 100% 46%;
    background-position: top;
}

.imgbg3 {
    background-image: url("../../assets/img/screeninnerkanban.jpg");
    background-size: cover;
    background-size: 100% 46%;
    background-position: top;
}

.imgbg4 {
    background-image: url("../../assets/img/screeninnerringoffire.jpg");
    background-size: cover;
    background-size: 100% 46%;
    background-position: top;
}

.projectsContentprojectsBtnPosition {
    display: flex;
    justify-content: space-between;
}

.projectsContentprojectsBtn1 {
    z-index: 2;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid #e86f00;
    border-right: 1px solid #e86f00;
    background: rgba(232, 112, 0, 0.25);
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    padding: 10px 25px;
    border-bottom-right-radius: 5px;
    transition: 225ms ease-in-out;
    &:hover {
        background: rgba(255, 71, 71, 0.25);
        transition: 225ms ease-in-out;
    }
    &:active {
        background: rgba(255, 255, 255, 0.25);
        color: #141d2f;
    }
    @media (max-width: 1100px) {
        opacity: 1;
        padding: 10px 15px;
    }
}

.projectsContentprojectsBtn2 {
    z-index: 2;
    text-decoration: none;
    color: white;
    background: #e86f00;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    padding: 10px 25px;
    border-bottom-left-radius: 5px;
    transition: 225ms ease-in-out;
    &:hover {
        background: #ff4747;
        transition: 225ms ease-in-out;
    }
    &:active {
        background: white;
        color: #141d2f;
    }
    @media (max-width: 1100px) {
        padding: 10px 15px;
    }
}

.projectsContentprojectsBtnApk {
    z-index: 2;
    text-decoration: none;
    color: white;
    background: rgba(232, 112, 0, 0.25);
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    border-bottom: 1px solid #e86f00;
    border-right: 1px solid #e86f00;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    padding: 10px 25px;
    border-bottom-right-radius: 5px;
    transition: 225ms ease-in-out;
    &:hover {
        background: rgba(255, 71, 71, 0.25);
        transition: 225ms ease-in-out;
    }
    &:active {
        background: rgba(255, 255, 255, 0.25);
        color: #141d2f;
    }
    @media (max-width: 1100px) {
        font-size: 18px;
    }
    @media (max-width: 370px) {
        padding: 7px 15px;
        font-size: 14px;
    }
    img {
        width: 20px;
        height: auto;
        object-fit: cover;
        margin-left: 5px;
        @media (max-width: 1100px) {
            width: 15px;
        }
    }
}

.projectsContentprojectsBtnMobileArea {
    z-index: 2;
}

.projectsContentprojectsDescrip {
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.projectsContentprojectsDescripTitle {
    color: #ff4747;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    text-align: center;
    @media (max-width: 1100px) {
        font-size: 24px;
    }
}

.projectsContentprojectsDescripText {
    color: black;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    @media (max-width: 1100px) {
        font-size: 16px;
    }
}

.projectsContentprojectsDescripCode {
    color: #fa7902;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    @media (max-width: 1100px) {
        font-size: 17px;
    }
}

@media (max-width: 1100px) {
    .hideMobile {
        display: none;
    }
}

@media (min-width: 1100px) {
    .hideDesktop {
        display: none;
    }
}
