<div class="projects" id="projects">
    <div class="projectsContent">

        <div class="projectsBorderTitleContent" data-aos="fade-right" data-aos-duration="3000">
            <div class="projectsBorderTitleBorderContainer"></div>
            <div class="projectsBorderTitleTextPosition">
                <div class="projectsBorderTitleTitle">
                    <span id="trans23">
                        Portfolio
                    </span>
                </div>
                <div class="projectsBorderTitleText">
                    <span id="trans13">
                        This page is a sample of my work! Please fell free to try them.
                    </span>
                </div>
            </div>
        </div>

        <div class="projectsContentprojects">
            <div class="projectsContentprojectsRow1">



                <div class="projectsContentprojectsContainer imgbg1" data-aos="fade-right" data-aos-duration="3000">
                    <img src="assets/img/screeenouttapokedex.jpg"
                        class="projectsContentprojectsContainerOuttaImgHover hideMobile" alt="Edit Screenshot Pokedex">
                    <div class="projectsContentprojectsBtnPosition">
                        <a class="projectsContentprojectsBtn1" href="https://github.com/Yener88/Pokedex"
                            target="_blank">
                            <span>Github</span>
                        </a>
                        <a class="projectsContentprojectsBtn2" href="https://yener88.github.io/Pokedex/"
                            target="_blank">
                            <span id="trans19">Live test</span>
                        </a>
                    </div>
                    <div class="projectsContentprojectsDescrip">
                        <div class="projectsContentprojectsDescripTitle">
                            <span>
                                Pokedex-App
                            </span>
                        </div>
                        <div class="projectsContentprojectsDescripText">
                            <span id="trans14">
                                Index of Pokemon, API based Pokedex! With extensive details and advanced functions such
                                as finding, favorite and managing all Pokemon in the search.
                            </span>
                        </div>
                        <div class="projectsContentprojectsDescripCode">
                            <span>
                                HTML | CSS | JavaScript | API
                            </span>
                        </div>
                    </div>
                </div>




                <div class="projectsContentprojectsContainer imgbg2" data-aos="fade-up" data-aos-duration="3000">
                    <img src="assets/img/screeenouttaelpolloloco.jpg"
                        class="projectsContentprojectsContainerOuttaImgHover hideMobile"
                        alt="Edit Screenshot El Pollo Loco">
                    <div class="projectsContentprojectsBtnPosition">
                        <div class="projectsContentprojectsBtnMobileArea">
                            <a class="projectsContentprojectsBtn1" style="border-bottom-right-radius: 0px;" href="https://github.com/Yener88/El-Pollo-Loco"
                                target="_blank">
                                <span>Github</span>
                            </a>
                            <a class="projectsContentprojectsBtnApk"
                                href="https://yener-bas.developerakademie.net/ElPolloLocoAPK/El%20Pollo%20Loco.apk"
                                target="_blank">
                                Mobile .apk
                                <img src="assets/img/downloadbtn.png" alt="download icon">
                            </a>
                        </div>
                        <a class="projectsContentprojectsBtn2" href="https://yener88.github.io/El-Pollo-Loco/"
                            target="_blank">
                            <span id="trans20">Live test</span>
                        </a>
                    </div>
                    <div class="projectsContentprojectsDescrip">
                        <div class="projectsContentprojectsDescripTitle">
                            <span>
                                El Pollo Loco
                            </span>
                        </div>
                        <div class="projectsContentprojectsDescripText">
                            <span id="trans16">
                                El Pollo Loco is a humorous jump-and-run game created using object-oriented JavaScript
                                and serving as an introduction to Angular development.
                            </span>
                        </div>
                        <div class="projectsContentprojectsDescripCode">
                            <span>
                                HTML | CSS | OOP | JavaScript
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="projectsContentprojectsRow2">
                <div class="projectsContentprojectsContainer imgbg3" data-aos="fade-right" data-aos-duration="3000">
                    <img src="assets/img/screeenouttateamtable.jpg"
                        class="projectsContentprojectsContainerOuttaImgHover hideMobile"
                        alt="Edit Screenshot El Pollo Loco">
                    <div class="projectsContentprojectsBtnPosition">
                        <a class="projectsContentprojectsBtn1" href="https://github.com/Yener88/kanban-angular"
                            target="_blank">
                            <span>Github</span>
                        </a>
                        <a class="projectsContentprojectsBtn2" href="https://yener88.github.io/Team-Table/"
                            target="_blank">
                            <span id="trans21">Live test</span>
                        </a>
                    </div>
                    <div class="projectsContentprojectsDescrip">
                        <div class="projectsContentprojectsDescripTitle">
                            <span>
                                Team-Table
                            </span>
                        </div>
                        <div class="projectsContentprojectsDescripText">
                            <span id="trans17">
                                Team Table is a tool used to organize and improve the efficiency of your work, similar
                                to a Kanban Board.
                            </span>
                        </div>
                        <div class="projectsContentprojectsDescripCode">
                            <span>
                                HTML | CSS | JavaScript
                            </span>
                        </div>
                    </div>
                </div>

                <div class="projectsContentprojectsContainer imgbg4" data-aos="fade-up" data-aos-duration="3000">
                    <img src="assets/img/screeenouttaringoffire.jpg"
                        class="projectsContentprojectsContainerOuttaImgHover hideMobile"
                        alt="Edit Screenshot Ring of fire">
                    <div class="projectsContentprojectsBtnPosition">
                        <a class="projectsContentprojectsBtn1" href="https://github.com/Yener88/RingOfFire"
                            target="_blank">
                            <span>Github</span>
                        </a>
                        <a class="projectsContentprojectsBtn2" href="https://ring-of-fire-5819b.web.app/"
                            target="_blank">
                            <span id="trans22">Live test</span>
                        </a>
                    </div>
                    <div class="projectsContentprojectsDescrip">
                        <div class="projectsContentprojectsDescripTitle">
                            <span>
                                Ring of Fire
                            </span>
                        </div>
                        <div class="projectsContentprojectsDescripText">
                            <span id="trans18">
                                The popular card game available in an online, desktop format, allowing multiple users to
                                play on
                                various devices simultaneously.
                            </span>
                        </div>
                        <div class="projectsContentprojectsDescripCode">
                            <span>
                                Angular | Typescript | Firebase
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>