<div class="contact" id="contact">
    <div class="contactContent">
        <div class="contactContentLeft"></div>
        <div class="contactContentRight" data-aos="flip-left" data-aos-duration="3000">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <div *ngIf="successMessage" class="alert alert-info">
                    {{ successMessage }}
                </div>
                <input [(ngModel)]="contactData.name" class="clickNavbarIgnore" autocomplete="off" type="text" id="name"
                    name="name" minlength="3" maxlength="40" placeholder="Your name" required
                    pattern="[a-zA-Z ']*"><br><br>
                <input [(ngModel)]="contactData.email" class="clickNavbarIgnore" autocomplete="off" id="email"
                    name="email" type="email" placeholder="Your E-mail address" required><br><br>
                <textarea [(ngModel)]="contactData.message" class="clickNavbarIgnore" name="message" id="message"
                    minlength="20" maxlength="2000" placeholder="Your message" required></textarea><br><br>
                <button class="submitbtn clickNavbarIgnore" type="submit" required>
                    <span id="trans28" class="clickNavbarIgnore">
                        Send :)
                    </span>
                </button>
            </form>
        </div>
    </div>
    <a href="#home" class="contactScrollUpButton">
        <img src="assets/img/scrolldownbutton.png" alt="contact scroll up button">
    </a>
    <div class="contactBorderTitle" data-aos="fade-down" data-aos-duration="3000">
        <div class="contactBorderTitleTitle">
            <span id="trans26">
                Contact
            </span>
        </div>
        <div class="contactBorderTitleBorder"></div>
    </div>
    <div class="contactBorderText" data-aos="fade-right" data-aos-duration="3000">
        <div class="contactBorderTextBorder"></div>
        <div class="contactBorderTextPosition">
            <div class="contactBorderTextTitle">
                <span id="trans24">
                    Got a problem to solve?
                </span>
            </div>
            <div class="contactBorderTextText">
                <span id="trans25">
                    Contact me through this form, I am interested in
                    hearing you, knowing your ideas and contributing to your projects with my work.
                    <br><br>
                    Need a Frontend developer?
                    <a href="mailto:yener.bas@outlook.de"
                        style="text-decoration: none; color: white; font-weight: bold; cursor: pointer !important;">Contact
                        me!</a>
                </span>
            </div>
        </div>
    </div>
</div>