.contact {
    height: 850px;
    background-color: #141d2f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactContent {
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 250px;
    @media (max-width: 1100px) {
        margin-top: 310px;
      
    }
}

.contactContentLeft {
    width: 43%;
    @media (max-width: 1100px) {
        width: 0%;
    }
}

.contactContentRight {
    width: 43%;
    @media (max-width: 1100px) {
        width: 90%;
    }

    input {
        background-color: #141d2f;
        outline: none;
        height: 30px;
        width: 97%;
        margin-top: 20px;
        color: white;
        padding-left: 20px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19.2px;
        border: 1px solid #e86f00;
        border-radius: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        &:required:invalid:focus {
            border: 1px solid #e61c40;
        }
        &:required:valid {
            border: 1px solid green;
        }
        &::placeholder {
            color: white;
        }
        &::selection {
            color: white;
            background-color: #141d2f;
        }
        &::-moz-selection {
            color: white;
            background-color: #141d2f;
        }
        @media (max-width: 1100px) {
            width: 94%;
        }
    }

    textarea {
        background-color: #141d2f;
        outline: none;
        height: 200px;
        width: 97%;
        margin-top: 18px;
        padding-left: 20px;
        padding-top: 10px;
        color: white;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19.2px;
        resize: none;
        border: 1px solid #e86f00;
        border-radius: 10px;
        &:required:invalid:focus {
            border: 1px solid #e61c40;
        }
        &:required:valid {
            border: 1px solid green;
        }
        &::placeholder {
            color: white;
        }
        @media (max-width: 1100px) {
            width: 94%;
        }
    }

    button {
        background: #e86f00;
        box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        border: none;
        cursor: pointer;
        color: white;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 19.2px;
        margin-top: 14px;
        margin-left: 163px;
        &:hover {
            opacity: 0.8;
            transition: 225ms ease-in-out;
        }
        @media (max-width: 1100px) {
            padding: 10px 20px;
            font-size: 18px;
            margin-left: 120px;
        }
    }
}

.contactBorderTitle {
    position: absolute;
    bottom: -3120px;
    right: 0;
    display: flex;
    align-items: center;
    @media (max-width: 1100px) {
        bottom: -3410px;
    }
}

.contactBorderTitleBorder {
    border: 2px solid #e86f00;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 390px;
    @media (max-width: 1100px) {
        width: 49px;
    }
}

.contactBorderTitleTitle {
    font-size: 90px;
    font-weight: 700;
    line-height: 120%;
    margin-right: 50px;
    @media (max-width: 1100px) {
        font-size: 45px;
    }
}

.contactBorderText {
    position: absolute;
    bottom: -3370px;
    left: 0;
    display: flex;
    align-items: flex-start;
    width: 43%;
    @media (max-width: 1100px) {
        bottom: -3670px;
        max-width: 350px;
        width: 100%;
        padding-right: 5px;
    }
}

.contactBorderTextPosition {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    @media (max-width: 1100px) {
        padding-left: 25px;
    }
}
.contactBorderTextBorder {
    border: 2px solid #d61ce6;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 60px;
    margin-top: 20px;
}

.contactBorderTextTitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    cursor: default;
    @media (max-width: 1100px) {
        font-size: 23px;
    }
}

.contactBorderTextText {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    cursor: default;
}
