<header id="home">
    <app-a-header-navbar></app-a-header-navbar>
    <div class="headerContent">
        <div class="headerCenter" data-aos="zoom-out-right" data-aos-duration="500">
            <span class="headerCenterText1" id="trans4-1">
                I am
            </span>
            <div class="headerCenterTextPosition1">
                <div class="headerCenterTextPosition2">
                    <span class="headerCenterText2" id="trans29">
                        Yener Bas
                    </span><br>
                    <span id="trans4-2" class="headerCenterText3">
                        FRONTEND DEVELOPER
                    </span>
                </div>

                <a href="#contact" class="headerButton">
                    <span id="trans5">Let's talk!</span>
                </a>
            </div>
        </div>
    </div>
</header>
<span style="font-size: 62px;"> </span>
<div style="font-size: 62px;"></div>
<div class="headerScrollDownButton hideMobile">
    <a href="#aboutme" data-aos="fade-up" data-aos-duration="500">
        <span id="trans6">
            Scroll down
        </span>
        <img src="assets/img/scrolldownbutton.png" alt="intro button">
    </a>
</div>
<div class="headerBorderLinks" data-aos="fade-right" data-aos-duration="500">
    <div class="headerBorderLinksBorder"></div>
    <div class="headerBorderLinksLinks">
        <a href="https://github.com/Yener88" target="_blank">
            <img src="assets/img/borderlinkcontainericons1.png" alt="Github Icon" class="clickNavbarIgnore">
        </a>
        <a href="mailto:yener.bas@outlook.de">
            <img src="assets/img/borderlinkcontainericons2.png" alt="E-Mail Icon" class="clickNavbarIgnore">
        </a>
        <a href="https://www.linkedin.com/in/yener-bas/" target="_blank">
            <img src="assets/img/borderlinkcontainericons3.png" alt="Linkedin Icon" class="clickNavbarIgnore">
        </a>
    </div>
</div>
<div class="BackgroundContainer">
    <div class="blurOne" data-aos="fade-right" data-aos-duration="500">
        <img src="assets/img/blur1.png">
    </div>
    <div class="blurContainer">
        <div class="blurTwo">
            <img src="assets/img/blur2.png">
        </div>
        <div class="blurThree">
            <img src="assets/img/blur3.png">
        </div>
    </div>
    <div class="blurFour" data-aos="fade-up" data-aos-duration="500">
        <img src="assets/img/blur4.png">
    </div>
    <div class="blurFive">
        <img src="assets/img/blur5.png">
    </div>
    <div class="blurSix">
        <img src="assets/img/blur6.png">
    </div>
    <div class="blurSeven">
        <img src="assets/img/blur7.png">
    </div>
</div>