<header id="home">
    <app-a-header-navbar></app-a-header-navbar>
    <div class="headerContent">
        <div class="headerCenter">
            <span class="headerCenterText1">I am</span>
            <div class="headerCenterTextPosition1">
                <div class="headerCenterTextPosition2">
                    <span class="headerCenterText2">Yener Bas</span><br>
                    <span class="headerCenterText3">FRONTEND DEVELOPER</span>
                </div>
                <br><br>
                <a href="#contact" class="headerButton">
                    <span>Let's talk!</span>
                </a>
            </div>
        </div>
    </div>
</header>

<div class="headerScrollDownButton">
    <a href="#aboutme">
        <span>
            Scroll down
        </span>
        <img src="assets/img/scrolldownbutton.png" alt="intro button">
    </a>
</div>

<div class="headerBorderLinks">
    <div class="headerBorderLinksBorder"></div>
    <div class="headerBorderLinksLinks">
        <a href="https://github.com/Yener88" target="_blank">
            <img src="assets/img/borderlinkcontainericons1.png" alt="Github Icon">
        </a>
        <a href="mailto:yener.bas@outlook.de">
            <img src="assets/img/borderlinkcontainericons2.png" alt="E-Mail Icon">
        </a>
        <a href="https://www.linkedin.com/in/yener-bas/" target="_blank">
            <img src="assets/img/borderlinkcontainericons3.png" alt="Linkedin Icon">
        </a>
    </div>
</div>


<!-- <div class="BackgroundContainer">
            <div class="blurOne"> <img src="assets/img/blur1.png"></div>


            <div class="blurFour"> <img src="assets/img/blur4.png"></div>


            <div class="blurEight"> <img src="assets/img/blur8.png"></div>
        </div> -->