<div id="aboutme">
    <div class="aboutmeContent">
        <div class="aboutmeContentLeft">
            <div class="aboutmeText1">
                <span>
                    About me
                </span>
            </div>
            <div class="aboutmeText2">
                <span>
                    Hi, I am a Frontend developer based in Cologne, Germany. After school, I completed an apprenticeship
                    in
                    IT and gained a total of around 8 years of professional experience. To turn my passion into a
                    profession, I completed the intensive course at the Developer Academy in August 2022.
                </span>
            </div>
            <div class="aboutmeText3">

                <div>
                    <img src="assets/img/texticon1.png" alt="Text Icon">
                </div>
                <span>
                    When I was at school, I made my first experience and was already very interested in software and
                    hardware of different kinds of electronics.
                </span>

            </div>
            <div class="aboutmeText4">

                <div>
                    <img src="assets/img/texticon2.png" alt="Text Icon 2">
                </div>
                <span>
                    At the age of 15, I programmed my first homepage which
                    was
                    built like a social media profile about myself based on HTML/CSS.
                </span>

            </div>


        </div>

        <div class="aboutmeContentRight">
            <img src="assets/img/selfpicture1-removebg.png" alt="selfpicture1">
        </div>
    </div>
    <div class="aboutMeBottomLine">
        <img src="assets/img/aboutmebottomline.png" alt="">
    </div>
</div>