<div class="skills" id="skills">
    <div class="skillsContent">
        <div class="skillsContentLeft">
            <div class="skillsIconSection1">
                <div data-aos="fade-right" data-aos-duration="500" class="clickNavbarIgnore">
                    <img src="assets/img/skillslogo1.png" class="clickNavbarIgnore" alt="JavaScript Logo">
                    <span class="clickNavbarIgnore">
                        JavaScript
                    </span>
                </div>
                <div data-aos="fade-down" data-aos-duration="500" class="clickNavbarIgnore">
                    <img src="assets/img/skillslogo2.png" class="clickNavbarIgnore" alt="Angular Logo">
                    <span class="clickNavbarIgnore">
                        Angular
                    </span>
                </div>
                <div data-aos="fade-down" data-aos-duration="500" class="clickNavbarIgnore">
                    <img src="assets/img/skillslogo3.png" class="clickNavbarIgnore" alt="TypeScript Logo">
                    <span class="clickNavbarIgnore">
                        TypeScript
                    </span>
                </div>
                <div data-aos="fade-left" data-aos-duration="500" class="clickNavbarIgnore">
                    <img src="assets/img/skillslogo4.png" class="clickNavbarIgnore" alt="HTML Logo">
                    <span class="clickNavbarIgnore">
                        HTML
                    </span>
                </div>
            </div>
            <div class="skillsIconSection2">
                <div data-aos="fade-right" data-aos-duration="500" class="clickNavbarIgnore">
                    <img src="assets/img/skillslogo5.png" class="clickNavbarIgnore" alt="GIT Logo">
                    <span class="clickNavbarIgnore">
                        GIT
                    </span>
                </div>
                <div data-aos="zoom-out-up" data-aos-duration="500" class="clickNavbarIgnore">
                    <img src="assets/img/skillslogo6.png" class="clickNavbarIgnore" alt="Firebase Logo">
                    <span class="clickNavbarIgnore">
                        Firebase
                    </span>
                </div>
                <div data-aos="fade-left" data-aos-duration="500" class="clickNavbarIgnore">
                    <img src="assets/img/skillslogo7.png" class="clickNavbarIgnore" alt="CSS Logo">
                    <span class="clickNavbarIgnore">
                        CSS
                    </span>
                </div>
            </div>
            <div class="skillsIconSection3">
                <div data-aos="fade-right" data-aos-duration="500" class="clickNavbarIgnore">
                    <img src="assets/img/skillslogo8.png" class="clickNavbarIgnore" alt="Scrum Logo">
                    <span class="clickNavbarIgnore">
                        Scrum
                    </span>
                </div>
                <div data-aos="fade-left" data-aos-duration="500" class="clickNavbarIgnore">
                    <img src="assets/img/skillslogo9.png" class="clickNavbarIgnore" alt="Rest-Api Logo">
                    <span class="clickNavbarIgnore">
                        Rest-Api
                    </span>
                </div>
            </div>
            <div class="skillsIconSection4">
                <div data-aos="fade-up" data-aos-duration="500" class="clickNavbarIgnore">
                    <img src="assets/img/skillslogo10.png" class="clickNavbarIgnore" alt="Material Design Logo">
                    <span class="clickNavbarIgnore">
                        Material Design
                    </span>
                </div>
            </div>
        </div>
        <div class="skillsContentRight">
            <div class="skillsBorderTitle">
                <div class="skillsBorderTitleContent1" data-aos="fade-up" data-aos-duration="500">
                    <div class="skillsBorderTitleContainer"></div>
                    <div class="skillsBorderTitleTitle">
                        <span id="trans11-1">
                            Skills
                        </span>
                    </div>
                </div>
                <div class="skillsBorderTitleContent2">
                    <span class="skillsBorderTitleText" id="trans11" data-aos="fade-up" data-aos-duration="500">
                        I have gained experience in building projects with various frontend technologies and
                        concepts.
                    </span>
                    <a href="#contact" class="skillsBorderTitleBtn" data-aos="fade-up" data-aos-duration="500">
                        <span id="trans12">
                            Get in touch
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>