<div class="skills" id="skills">
    <div class="skillsContent">

        <div class="skillsContentLeft">
            <div class="skillsIconSection1">
                <div>
                    <img src="assets/img/skillslogo1.png" alt="JavaScript Logo">
                    <span>
                        JavaScript
                    </span>
                </div>
                <div>
                    <img src="assets/img/skillslogo2.png" alt="Angular Logo">
                    <span>
                        Angular
                    </span>
                </div>
                <div>
                    <img src="assets/img/skillslogo3.png" alt="TypeScript Logo">
                    <span>
                        TypeScript
                    </span>
                </div>
                <div>
                    <img src="assets/img/skillslogo4.png" alt="HTML Logo">
                    <span>
                        HTML
                    </span>
                </div>
            </div>
            <div class="skillsIconSection2">
                <div>
                    <img src="assets/img/skillslogo5.png" alt="GIT Logo">
                    <span>
                        GIT
                    </span>
                </div>
                <div>
                    <img src="assets/img/skillslogo6.png" alt="Firebase Logo">
                    <span>
                        Firebase
                    </span>
                </div>
                <div>
                    <img src="assets/img/skillslogo7.png" alt="CSS Logo">
                    <span>
                        CSS
                    </span>
                </div>
            </div>
            <div class="skillsIconSection3">
                <div>
                    <img src="assets/img/skillslogo8.png" alt="Scrum Logo">
                    <span>
                        Scrum
                    </span>
                </div>
                <div>
                    <img src="assets/img/skillslogo9.png" alt="Rest-Api Logo">
                    <span>
                        Rest-Api
                    </span>
                </div>
            </div>
            <div class="skillsIconSection4">
                <div>
                    <img src="assets/img/skillslogo10.png" alt="Material Design Logo">
                    <span>
                        Material Design
                    </span>
                </div>
            </div>

        </div>



        <div class="skillsContentRight">
            <div class="skillsBorderTitle">
                <div class="skillsBorderTitleContent1">
                    <div class="skillsBorderTitleContainer"></div>
                    <div class="skillsBorderTitleTitle">
                        <span id="trans11-1">
                            Skills
                        </span>
                    </div>
                </div>
                <div class="skillsBorderTitleContent2">
                    <span class="skillsBorderTitleText" id="trans11">
                        <span>
                            I have gained experience in building projects with various frontend technologies and
                            concepts.
                        </span>
                    </span>
                    <a href="#contact" class="skillsBorderTitleBtn">
                        <span id="trans12">
                            Get in touch
                        </span>
                    </a>
                </div>

            </div>
        </div>



    </div>
</div>