.skills {
    height: 760px;
    background-color: #141d2f;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1100px) {
        height: 660px;
    }
}

.skillsContent {
    z-index: 1;
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.skillsContentLeft {
    width: 58%;
    @media (max-width: 1100px) {
        margin-top: 215px;
        width: 300px;
    }
}

.skillsIconSection1,
.skillsIconSection2,
.skillsIconSection3,
.skillsIconSection4 {
    display: flex;
    font-size: 15px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    padding-top: 80px;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: auto;
        margin-right: 60px;
        cursor: grabbing;
        transition: all 0.5s ease-in-out;
        border-radius: 10%;

        &:hover {
            transform: scale(1.02) translate(2%, 2%);
            transition: all 0.5s ease-in-out;
            box-shadow: 2px 2px 5px 5px #e870008c;
            background-color: #e870008c;
        }
        &:active {
            transition: all 0.1s ease-in-out;
            transform: rotate(6deg);
            filter: invert(30%);
            box-shadow: 2px 2px 5px 5px #00e80c8c;
            background-color: #00e80c8c;
          
        }
        @media (max-width: 1100px) {    
            width: 80px;
            margin-right: 0px;
        }
    }
    img {
        width: 60px;
        height: 65px;
        object-fit: contain;
        @media (max-width: 1100px) {
            width: 30px;
            height: 30px;
        }
    }
    span {
        padding-top: 8px;
    }
    @media (max-width: 1100px) {
        font-size: 11px;
        padding-top: 25px;
    }
}

.skillsContentRight {
    width: 42%;
    @media (max-width: 1100px) {
        width: 0%;
    }
}

.skillsBorderTitle {
    position: absolute;
    bottom: -1210px;
    right: 0;
    display: flex;
    flex-direction: column;
    @media (max-width: 1100px) {
        bottom: -1135px;
    }
    @media (max-width: 300px) {
        bottom: -1240px;
    }
}

.skillsBorderTitleContent1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.skillsBorderTitleContainer {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 2px solid #d61ce6;
    width: 200px;
    height: 0;
    @media (max-width: 1100px) {
        width: 51px;
    }
    @media (max-width: 350px) {
        width: 20px;
    }
}

.skillsBorderTitleTitle {
    font-size: 90px;
    font-weight: 700;
    line-height: 108px;
    padding-right: 40px;
    cursor: default;
    @media (max-width: 1100px) {
        font-size: 45px;
    }
}

.skillsBorderTitleContent2 {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 1100px) {
        width: 300px;
    }
    @media (max-width: 300px) {
        width: 250px;
    }
}

.skillsBorderTitleText {
    margin-top: 50px;
    font-size: 16px;
    font-weight: 300;
    line-height: 120%;
    cursor: default;
    @media (max-width: 1100px) {
        margin-top: 25px;
    }
}

.skillsBorderTitleBtn {
    text-decoration: none;
    color: white;
    background: #e86f00;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    margin-top: 50px;
    transition: 225ms ease-in-out;
    &:hover {
        background: #ff4747;
        transition: 225ms ease-in-out;
    }
    &:active {
        background: white;
        color: #141d2f;
    }
    @media (max-width: 1100px) {
        padding: 10px 20px;
        font-size: 18px;
        position: absolute;
        top: 515px;
    }
}

@media (max-width: 1100px) {
    .hideMobile {
        display: none;
    }
}

@media (min-width: 1100px) {
    .hideDesktop {
        display: none;
    }
}
